.home {
    margin-top: 30px;
    width: 90%;
    max-width: 800px;
}
.home .home-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 400px;
    margin: 50px auto 70px auto;
}
.home .home-actions .button {
    height: 3rem;
    border-radius: 30px;
    margin: 0 15px;
}
.home .home-actions .button button {
    border-radius: 30px;
}