.App {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: black;
  color: white;
}
.App::after {
  position: absolute;
  content: 'Hola';
  top: -15vw;
  left: -15vw;
  height: 30vw;
  width: 30vw;
  opacity: 0.25;
  background: radial-gradient(50% 50% at 50% 50%, #9FC3F9 0%, rgba(159, 195, 249, 0) 100%);
}

.background-gradient {
  background: linear-gradient(to right, #EE8F00, #50D98B 53.13%, #00C0F5 100%);
}
